In [1]:
import pymysql # pip install pymysql
import pymysql.cursors
import yaml
import numpy as np
import pandas as pd

with open ('params.yaml', 'r', encoding='UTF-8') as f:
    params = yaml.safe_load(f)

host = params['DB_host']
user = params['DB_user']
port = params['DB_port']
password = params['DB_password']
database = params['DB_database']

In [2]:
df = pd.read_excel('D:/CRPT/2021.08_август/расхождения/шаг_4_concatinated v1 (удалены дубли).xlsx')

In [3]:
def table_transformer(df):
    df_copy = df.copy()
    df_type = df_copy.loc[df_copy['Type Value'].notnull()]
    #df_type.reset_index().drop(['index'], axis=1, inplace=True)
    df_type['AttrIsValueOrType'] = 'type'
    df_type.reset_index(drop=True)
    df_type.drop(['Attributes Value', 'Результат', 'fileName', 'Unnamed: 7', 'Дата', 'Частота' ], axis=1, inplace=True)
    df_type.rename(columns={'Type Value': 'Attributes Value'}, inplace=True)
    
    # т.к. копию всех записей где задан тип атрибута уже сделали и подготовили для мёрджа, обработаем исходный датафрейм
    df_copy['AttrIsValueOrType'] = 'value' # зададим для всех строк тип value (для тех где не уакзан Type Value и для тех где указан, но мы уже перенесли в отдельный и уже отметили как type )
    df_copy.drop(['Type Value', 'Результат', 'fileName', 'Unnamed: 7', 'Дата', 'Частота' ], axis=1, inplace=True) # грохнет type Value, т.к. его уже переложили в отдельный датафрейм и все остальные
    
    full_df = pd.concat([df_copy, df_type], axis = 0)
    full_df.reset_index(drop=True)
    
    full_df.sort_values(by=['AccountId', 'GTIN'])
    
    return full_df

In [ ]:
# дропнуть не получилось
q = q.drop(q[(q['Attributes ID']==13914) & (q['AttrIsValueOrType']=='type')].index)

In [16]:
edited_df = table_transformer(df)
edited_df.to_excel('D:/CRPT/2021.08_август/расхождения/промежуточное.xlsx',index=False )

C:\Users\alsta\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
edited_df = pd.read_excel('D:/CRPT/2021.08_август/расхождения/промежуточное_обработанное.xlsx')

In [21]:
edited_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115616 entries, 0 to 115615
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         115616 non-null  int64
 1   AccountId          115616 non-null  object
 2   GTIN               115616 non-null  int64
 3   Attributes ID      115616 non-null  int64
 4   Attributes Value   115616 non-null  object
 5   AttrIsValueOrType  115616 non-null  object
dtypes: int64(3), object(3)
memory usage: 5.3+ MB

In [ ]:
#edited_df.loc[(edited_df['Attributes Value']!='Артикул') & (edited_df['Attributes Value']!='Модель') &  (edited_df['AttrIsValueOrType']=='type')].head()

In [ ]:
#df['Attributes ID'].loc[df['Type Value'].notnull()].unique()

In [ ]:
#df['Attributes ID'].loc[df['Type Value']=='Артикул'].unique()

In [22]:
#AttrIsValueOrType = 'value'
#AccountId = '155183'
#gtin = '4670016810069'
#AttrId = '2716'

#df = pd.DataFrame()

def DB_extractor(AttrIsValueOrType, AccountId, gtin, AttrId ):
    dfl = pd.DataFrame()
    
    con = pymysql.connect(host=host, user=user, port=port, password=password, database=database, cursorclass=pymysql.cursors.DictCursor)
    with con:
        cur = con.cursor()

        query = "SET @AttrIsValueOrType = \'{}\'".format(AttrIsValueOrType)
        cur.execute(query)

        query = '''SELECT lg.MainAccountId, lg.Barcode, lg.GoodId,  latga.MarkGroupId, lgtc.CatId, lav.AttrId
            ,latga.GS1AttrId
            ,lav.Value, lav.`Type` 
            ,(CASE WHEN @AttrIsValueOrType = 'value' THEN lav.Value WHEN @AttrIsValueOrType = 'type' THEN lav.Type END) as comparedValue
            ,latga.TypeCondition
            ,latga.AttrIsValueOrType -- вспомогательный
            ,latga.DefaultType
            ,latga.GS1AttrName 
            ,latga.GS1AttrIsDictionary -- НЕ обязательный
            FROM Lst_AttrValues lav 
            JOIN Lst_Goods lg ON lav.GoodId = lg.GoodId  AND (lg.Status = 'published' or lg.Status = 'archived') AND lg.Deleted = 0
            LEFT JOIN Lst_GoodsToCat lgtc ON lgtc.GoodId = lg.GoodId  AND lgtc.Deleted = 0 
            LEFT JOIN Lst_AttrToGS1Attr latga ON latga.CatId =  lgtc.CatId AND latga.AttrId = lav.AttrId  AND latga.Operation = 'export' AND latga.GS1AttrId NOT LIKE '%BRICK'   AND latga.Deleted = 0  
                 AND (CASE WHEN (lav.Type = 'Артикул' OR  lav.Type = 'Модель') THEN latga.TypeCondition = lav.Type ELSE (latga.TypeCondition <=> NULL OR latga.TypeCondition = '') END)
            WHERE lav.Deleted = 0   AND AttrIsValueOrType = @AttrIsValueOrType
            AND lg.MainAccountId = {}
            AND lg.Barcode = '{}' 
            AND lav.AttrId = {}; '''.format(AccountId, gtin, AttrId)
        cur.execute(query)

        #query = 'SELECT @AttrIsValueOrType'
        #cur.execute(query)

        DBresponse = cur.fetchall()


    if len(DBresponse) != 0:

        for i, row in  enumerate(DBresponse):
            dfl.loc[i,'MainAccountId'], dfl.loc[i,'Barcode'], dfl.loc[i,'GoodId'], dfl.loc[i,'MarkGroupId'], dfl.loc[i,'CatId'], \
            dfl.loc[i,'AttrId'], dfl.loc[i,'GS1AttrId'], dfl.loc[i,'Value'], dfl.loc[i,'Type'], dfl.loc[i,'comparedValue'], \
            dfl.loc[i,'TypeCondition'], dfl.loc[i,'AttrIsValueOrType'], dfl.loc[i,'DefaultType'], dfl.loc[i,'GS1AttrName'], dfl.loc[i,'GS1AttrIsDictionary'] = \
            row['MainAccountId'], row['Barcode'], row['GoodId'], row['MarkGroupId'], row['CatId'], \
            row['AttrId'], row['GS1AttrId'], row['Value'], row['Type'], row['comparedValue'], \
            row['TypeCondition'], row['AttrIsValueOrType'], row['DefaultType'], row['GS1AttrName'], row['GS1AttrIsDictionary'] 

    else:
        print('вошли в else')
        dfl.loc[0,'MainAccountId'], dfl.loc[0,'Barcode'],  dfl.loc[0,'AttrId'],  dfl.loc[0,'AttrIsValueOrType'] = AccountId, gtin, AttrId, AttrIsValueOrType

    return dfl

In [ ]:
x = DB_extractor(AttrIsValueOrType = 'value' , AccountId = '93940', gtin = '4968814848088', AttrId = '13914')
x

In [26]:
#edited_df.drop(columns=['Unnamed: 0'], inplace = True)
#edited_df

,AccountId,GTIN,Attributes ID,Attributes Value,AttrIsValueOrType
0,82097,5000159343961,14,5,value
1,82097,5000159343961,2478,Мороженое молочное SNICKERS® с карамелью и ара...,value
2,82097,5000159483025,14,5,value
3,82097,5000159483025,2478,Мороженое молочное BOUNTY® с нежной мякотью ко...,value
4,93216,4620064196714,2478,"м 4-1892 Ботинки школьные нат.мех (белый, 33)",value
...,...,...,...,...,...
115611,556059,4650099480533,15448,кг,type
115612,556059,4650099480540,15448,кг,type
115613,556059,4650099480557,15448,кг,type
115614,556641,4601757001065,15448,кг,type
115615,101449,8506000001440,25,шт.,type

In [27]:
array = edited_df.loc[:100,:].values

In [28]:
df_res = pd.DataFrame()

for i, row in  enumerate(array):
    AttrIsValueOrType = row[4]
    AccountId = str(row[0])
    gtin = str(row[1])
    AttrId = str(row[2])
    #print('для строки {} GTIN = {}'.format(i, row[1]))
    df_from_db = DB_extractor(AttrIsValueOrType=AttrIsValueOrType, AccountId=AccountId, gtin=gtin, AttrId=AttrId )
    if len(df_res) == 0:
        df_res = df_from_db
    else:
        df_res = pd.concat([df_res, df_from_db], axis = 0)

df_res

для строки 0 GTIN = 5000159343961
для строки 1 GTIN = 5000159343961
для строки 2 GTIN = 5000159483025
для строки 3 GTIN = 5000159483025
для строки 4 GTIN = 4620064196714
для строки 5 GTIN = 4620064196721
для строки 6 GTIN = 4620064196738
для строки 7 GTIN = 4620064196745
для строки 8 GTIN = 4620064196752
для строки 9 GTIN = 4620064196769
для строки 10 GTIN = 4620064196776
для строки 11 GTIN = 4620064196783
для строки 12 GTIN = 4620064196790
для строки 13 GTIN = 4620064196806
для строки 14 GTIN = 4620064196813
для строки 15 GTIN = 4620064196820
для строки 16 GTIN = 4620064196837
для строки 17 GTIN = 4620064196844
для строки 18 GTIN = 4620064196851
для строки 19 GTIN = 4650111552088
для строки 20 GTIN = 4650111552118
для строки 21 GTIN = 4650111552125
для строки 22 GTIN = 4650111552163
для строки 23 GTIN = 4650111552170
для строки 24 GTIN = 4650111552194
для строки 25 GTIN = 4650111552217
для строки 26 GTIN = 4650111552231
для строки 27 GTIN = 4650111552309
для строки 28 GTIN = 4650111552323
для строки 29 GTIN = 4650111552620
для строки 30 GTIN = 4650111552644
для строки 31 GTIN = 4650111552668
для строки 32 GTIN = 4650111552699
для строки 33 GTIN = 4650111552729
для строки 34 GTIN = 4650111552767
для строки 35 GTIN = 4650111552774
для строки 36 GTIN = 4650111552781
для строки 37 GTIN = 4650111552804
для строки 38 GTIN = 4650111552835
для строки 39 GTIN = 4650111552842
для строки 40 GTIN = 4650111552866
для строки 41 GTIN = 4650111552873
для строки 42 GTIN = 4650111552903
для строки 43 GTIN = 4650111552910
для строки 44 GTIN = 4650111552934
для строки 45 GTIN = 4650111553016
для строки 46 GTIN = 4650111553047
для строки 47 GTIN = 4650111553078
для строки 48 GTIN = 4650111553115
для строки 49 GTIN = 4650111553177
для строки 50 GTIN = 4650111553252
для строки 51 GTIN = 4650111553887
для строки 52 GTIN = 4650111553900
для строки 53 GTIN = 4650111553948
для строки 54 GTIN = 4650111554020
для строки 55 GTIN = 4650111554044
для строки 56 GTIN = 4640042622844
для строки 57 GTIN = 4640042622851
для строки 58 GTIN = 4640042622868
для строки 59 GTIN = 4640042622875
для строки 60 GTIN = 4640042622882
для строки 61 GTIN = 4640042622899
для строки 62 GTIN = 4650179668851
для строки 63 GTIN = 4650179668851
для строки 64 GTIN = 4650179668868
для строки 65 GTIN = 4650179668868
для строки 66 GTIN = 4650179668875
для строки 67 GTIN = 4650179668875
для строки 68 GTIN = 4650179668882
для строки 69 GTIN = 4650179668882
для строки 70 GTIN = 4650179668899
для строки 71 GTIN = 4650179668899
для строки 72 GTIN = 4650179668905
для строки 73 GTIN = 4650179668905
для строки 74 GTIN = 3492211587666
для строки 75 GTIN = 3492211587666
вошли в else
для строки 76 GTIN = 3492213670335
для строки 77 GTIN = 3492213670335
вошли в else
для строки 78 GTIN = 3492213710574
для строки 79 GTIN = 3492213710574
вошли в else
для строки 80 GTIN = 3492213791214
для строки 81 GTIN = 3492213791214
вошли в else
для строки 82 GTIN = 3492213916242
для строки 83 GTIN = 3492213916242
вошли в else
для строки 84 GTIN = 3492215071345
для строки 85 GTIN = 3492215071345
вошли в else
для строки 86 GTIN = 3492215785693
для строки 87 GTIN = 3492215785693
вошли в else
для строки 88 GTIN = 3492215938952
для строки 89 GTIN = 3492215938952
вошли в else
для строки 90 GTIN = 3492219675310
для строки 91 GTIN = 3492219675310
вошли в else
для строки 92 GTIN = 4630039624715
для строки 93 GTIN = 4670023630322
для строки 94 GTIN = 4640124062483
для строки 95 GTIN = 4640124062490
для строки 96 GTIN = 4640124062506
для строки 97 GTIN = 4640124062513
для строки 98 GTIN = 4640124062520
для строки 99 GTIN = 4640124062537
для строки 100 GTIN = 4640124062544

,MainAccountId,Barcode,GoodId,MarkGroupId,CatId,AttrId,GS1AttrId,Value,Type,comparedValue,TypeCondition,AttrIsValueOrType,DefaultType,GS1AttrName,GS1AttrIsDictionary
0,82097,5000159343961,60810993.0,8.0,234317.0,14,WEB_90001771,"21,4%",NaN,"21,4%",NaN,value,NaN,"Жирность, %",0.0
0,82097,5000159343961,60810993.0,8.0,234317.0,2478,PROD_DESC,SNICKERS Мороженое батончик 48г,NaN,SNICKERS Мороженое батончик 48г,NaN,value,NaN,Полное наименование товара,0.0
1,82097,5000159343961,60810993.0,8.0,234317.0,2478,PROD_DESC_FULL,SNICKERS Мороженое батончик 48г,NaN,SNICKERS Мороженое батончик 48г,NaN,value,NaN,Полное наименование товара,0.0
0,82097,5000159483025,60808398.0,8.0,234317.0,14,WEB_90001771,5,NaN,5,NaN,value,NaN,"Жирность, %",0.0
0,82097,5000159483025,60808398.0,8.0,234317.0,2478,PROD_DESC,Мороженое молочное BOUNTY® с нежной мякотью ко...,NaN,Мороженое молочное BOUNTY® с нежной мякотью ко...,NaN,value,NaN,Полное наименование товара,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,93399,4640124062506,52973337.0,1.0,234392.0,2483,WEB_90000195,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,value,NaN,Состав,0.0
0,93399,4640124062513,52973316.0,1.0,234392.0,2483,WEB_90000195,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,value,NaN,Состав,0.0
0,93399,4640124062520,52973328.0,1.0,234392.0,2483,WEB_90000195,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,value,NaN,Состав,0.0
0,93399,4640124062537,52973298.0,1.0,234392.0,2483,WEB_90000195,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,value,NaN,Состав,0.0
0,93399,4640124062544,52973277.0,1.0,234392.0,2483,WEB_90000195,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,Верх: 100% Полиамид; Верх 2: 100% Акрил; Подкл...,NaN,value,NaN,Состав,0.0

In [29]:
df_res.to_excel('D:/CRPT/2021.08_август/расхождения/для запроса_в_ГС1.xlsx', index=False)

### сейчас надо запустить sequence_parser.py

In [32]:
GS1_extraction = pd.read_excel('D:/CRPT/2021.08_август/расхождения/GS1_extraction.xlsx')

In [33]:
GS1_extraction.rename(columns={'GTIN': 'Barcode', 'GS1Attr': 'GS1AttrId' }, inplace=True)

In [35]:
GS1_extraction.head(2)

,Unnamed: 0,Barcode,GS1AttrId,value_in_GS1,errCode,variant,value
0,0,5000159343961,WEB_90001771,NaN 2 5000159343961 NaN,2,NaN,NaN
1,1,5000159343961,PROD_DESC,NaN 2 5000159343961 NaN,2,NaN,NaN

In [36]:
df_res.head(2)

,MainAccountId,Barcode,GoodId,MarkGroupId,CatId,AttrId,GS1AttrId,Value,Type,comparedValue,TypeCondition,AttrIsValueOrType,DefaultType,GS1AttrName,GS1AttrIsDictionary
0,82097,5000159343961,60810993.0,8.0,234317.0,14,WEB_90001771,"21,4%",NaN,"21,4%",NaN,value,NaN,"Жирность, %",0.0
0,82097,5000159343961,60810993.0,8.0,234317.0,2478,PROD_DESC,SNICKERS Мороженое батончик 48г,NaN,SNICKERS Мороженое батончик 48г,NaN,value,NaN,Полное наименование товара,0.0

In [45]:
concat = pd.concat([df_res, GS1_extraction], keys=['Barcode', 'GS1AttrId'], join='inner')

In [46]:
concat.to_excel('D:/CRPT/2021.08_август/расхождения/concatinated.xlsx',  index = False)

In [ ]:
q = pd.DataFrame([[11,12,13],[11,22,23],[31,32,33]], columns = ['A','B','C'])
q = q.drop(q[(q['A']==11) & (q['C']==33)].index)
q